html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--page-bg);
}

.array {
  border: 1px solid grey;
  margin-bottom: 1rem;
}

.array>*:first-of-type {
  border-bottom: 1px solid grey;
}

.array>*>* {
  padding: 0.25rem;
}

.array>*>:not(:last-of-type) {
  border-right: 1px solid grey;
}